In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import classification_report
pd.options.mode.chained_assignment = None 
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msg
import string
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import re
import nltk
from sklearn.model_selection import train_test_split
from spellchecker import SpellChecker
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn import preprocessing
from collections import Counter
from wordcloud import WordCloud
from nltk.stem import WordNetLemmatizer
from imageio import imread
import pickle

In [2]:
df = pd.read_csv("../csv/Corona_NLP_dev.csv",engine='python')
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3000,47952,"Mumbai, India",15-03-2020,Local grocery stores as well as Bigbasket runn...,Negative
1,3001,47953,"Ottawa, Ontario",15-03-2020,"Locust swarms in East Africa&amp;South Asia, C...",Extremely Negative
2,3002,47954,Check us out ?,15-03-2020,Avoid long lines and shop online! Plus FREE sh...,Extremely Positive
3,3003,47955,"New York, NY",15-03-2020,HereÂ’s a thought: Knock off the online shoppi...,Extremely Negative
4,3004,47956,San Diego CA,15-03-2020,Have to say California is very controlled with...,Positive
...,...,...,...,...,...,...
794,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
795,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
796,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
797,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
798,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [3]:
index_names = df[ df['Sentiment'] != 'Neutral' ].index

In [4]:
index_names

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            787, 788, 790, 791, 792, 793, 794, 795, 797, 798],
           dtype='int64', length=656)

In [5]:
df.drop(index_names, inplace = True)
df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
20,3020,47972,"Calgary, Canada",15-03-2020,I may not have been the only person to spot th...,Neutral
28,3028,47980,"Saint Paul, MN (US)",15-03-2020,Confirming goods out going out of stock from f...,Neutral
29,3029,47981,"Saint Paul, MN (US)",15-03-2020,Confirming goods out going out of stock from f...,Neutral
31,3031,47983,"Saint Paul, MN (US)",15-03-2020,Confirming goods out going out of stock from f...,Neutral
34,3034,47986,Hong Kong,15-03-2020,Grocers limit food purchases urge shoppers not...,Neutral
...,...,...,...,...,...,...
775,3775,48727,Living takes my breath away?,16-03-2020,The financial &amp; economic impact of COVID-1...,Neutral
778,3778,48730,NaN,16-03-2020,Waiting in a line in 1 meter distance from eac...,Neutral
779,3779,48731,NaN,16-03-2020,In light of the ongoing and rapidly evolving C...,Neutral
789,3789,48741,Pakistan,16-03-2020,You never eaten the pigs cat dog or food from ...,Neutral
796,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral

In [6]:
df.drop(columns={'UserName','ScreenName','Location','TweetAt'},axis=1,inplace=True)

In [7]:
df

                                         OriginalTweet Sentiment
20   I may not have been the only person to spot th...   Neutral
28   Confirming goods out going out of stock from f...   Neutral
29   Confirming goods out going out of stock from f...   Neutral
31   Confirming goods out going out of stock from f...   Neutral
34   Grocers limit food purchases urge shoppers not...   Neutral
..                                                 ...       ...
775  The financial &amp; economic impact of COVID-1...   Neutral
778  Waiting in a line in 1 meter distance from eac...   Neutral
779  In light of the ongoing and rapidly evolving C...   Neutral
789  You never eaten the pigs cat dog or food from ...   Neutral
796  Asst Prof of Economics @cconces was on @NBCPhi...   Neutral

[143 rows x 2 columns]

In [15]:
df.drop(columns={'Sentiment'},axis=1,inplace=True)

In [16]:
df.to_csv("../csv/onlyneutral.csv", index=False)

In [11]:
df['OriginalTweet'] = df['OriginalTweet'].map(lambda x: re.sub('/\r?\n|\r/', '', x))

In [13]:
df['OriginalTweet'] = df['OriginalTweet'].replace({'\r\n': ' '}, regex=True) #& arazoak